<template name="sobre">
  <div class="top-bar-espaco">
    <ul class="collection with-header">
       <li class="collection-header"><h4>QRCode URL <i class="mdi-image-center-focus-strong right"></i></h4></li>
       <li class="collection-item"><p class="text-justify">Aplicativo simples para ler QR Code que contenha um link, basta um click e automaticamente você será redirecionado do aplicativo para o browser do seu smartphone.</p>
      <p class="text-justify">Se o QR Code e não for um link, você pode copiar o conteudo do link e colar em qualquer local.</p>
       </li>
       <li class="collection-item"><p class="center"><strong>Versão 1.2</strong></p></li>
       <li  class="collection-item">
          <p class="center">Desenvolvido por <a href="#" onclick="window.open('http://www.cleandersonlobo.com', '_system');">Cleanderson Lobo</a></p>
        </li>
     </ul>

  </div>
</template>
